
.bodycss{
  background-position:center;
  background-size:cover;
  margin-top:35px;
  margin-left:10px;
  font-family:calibri;
  }  

.formbody{
    color:000099;
    height:900px; 
    width:1000px; 
    padding:5px;
    font-family: 'Roboto';
}

.App {
  width: 100vw;
  height: 100vh;
}

.inline{
  position: absolute;
  width: 253px;
  height: 42px;
  left: 350px;
  top: 80px;
  }