

.navBox
{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  border-bottom:2px solid rgba(0,0,0);
  border-top:2px solid rgba(0,0,0);
  
 
}


.navMenu > a
{
  padding: 5px 10px;
  margin-right: 5px; 
  display: inline-block;
  text-decoration: none;
  
}

.navMenu > a:hover
{
  transition: ease-in-out 300ms;
}
