table {
    border: 2px solid black;
    width: 800px;
    height: 200px;
    position: absolute;
    left: 250px;
    top: 200px;
  
  }
  
  
  
  td {
    text-align: center;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: darkcyan;
    color: black;
  }
  
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
    background-color: darkcyan;
    position: absolute;
    width: 229px;
    height: 29px;
    left: 820px;
    top: 100px;
  }
  .aa{
  text-decoration: none;
  }