
  .Sidebar {
    background-color: #096857;
    height: auto;
    width: 300px;
    padding-top: 0px;
}

.sidebarlist{
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebarlist .row{
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: beige;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

.sidebarlist .row:hover{
    cursor: pointer;
    background-color: rgba(196, 196, 196, 0.31);;
}

.sidebarlist #active{
    background-color: rgba(196, 196, 196, 0.31);
}
.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}


.row #title{
    flex:70%;
}