.Sidebar {
  background-color: #096857;
  height: 100%;
  width: 300px;
  padding-top: 0px;
  transition: width 0.3s ease; /* Add transition for smooth animation */
}

.Sidebar.docked {
  width: 50px; /* Set the width when docked */
}

.sidebarlist {
  height: auto;
  padding: 0;
  width: 100%;
  transition: width 0.3s ease; /* Add transition for smooth animation */
}

.sidebarlist.docked-list {
  width: 50px; /* Set the width when docked */
}

/* Add styles for the toggle button */
.toggle-btn {
  cursor: pointer;
  text-align: center;
  background-color: #096857;
  color: beige;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.toggle-btn:hover {
  background-color: rgba(196, 196, 196, 0.31);
}
.row {
  display: flex;
  padding: 1em;
  border: 1px solid white;
  border-radius: 1px;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: flex;
  align-items: center;
  padding-left: 10px; /* Add some padding for spacing */
}
