
.App {
    width: 98vw;
    height: 100vh;
  }
  
  /*body{
    margin: 0;
    padding: 0;
  }*/
  
  .inline{
    position: absolute;
    width: 253px;
    height: 42px;
    left: 180px;
    /*top: 0px;*/
    }
  
  .heading{
    font-style:italic;
    font-weight:700;
    /*line-height:30px;*/
    letter-spacing:-0.333333px;
    font-size: 23px;
    color: rgb(0, 0, 0);
  
  }
  
  .fullbody{
  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }
  
  .formbody{
    color:000099;
    height:175px; 
    width:1000px; 
    padding:5px;
  }