
.App {
    width: 98vw;
    height: 100vh;
  }
  
  /*body{
    margin: 0;
    padding: 0;
  }*/
  
  .inline{
    position: absolute;
    width: 253px;
    height: 42px;
    left: 180px;
    /*top: 0px;*/
    }
  
  .heading{
    font-style:italic;
    font-weight:700;
    /*line-height:30px;*/
    letter-spacing:-0.333333px;
    font-size: 23px;
    color: rgb(0, 0, 0);
  
  }
  
  .fullbody{
  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }
  
  .formbody{
    color:000099;
    height:175px; 
    width:1000px; 
    padding:5px;
  }


  .historybutton{
      border:0;
      background: #3FAB98;
      text-align: center;
      border:3px solod #3FAB98;
      width: 200px;
      height: 35px;
      color:black;
      border-radius:24px;
      transition:0.25px;
      margin-left:900px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      
      
      
    }

  