.boxbill {
  background: #3fab98;
  border: 3px solod #3fab98;
  width: 95px;
  height: 30px;
  border-radius: 24px;
  transition: 0.25px;
  margin-top: 30px;
  margin-bottom: 30px;
  
  display: flex;
  justify-content: center;
}

.navMenu > a {
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}
.navMenu > a:hover {
  transition: ease-in-out 300ms;
  background: #8edfd0;
}

.buttons {
  
  margin-top: 5px;
}

.aa{
  display: flex;
}