.formInput{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 380px;

}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid green;
}


label{
    font-family: 'Times new roman';
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}