
.mainContainer {
    position: relative;
    width: 1518px;
    height: 719px;
    left: 0px;
    background: linear-gradient(180deg, rgba(60, 170, 150, 0.4) 0%, rgba(159, 172, 230, 0.4) 100%);
    border-radius: 0px;
    }
  
  
    .welcomepic{
      display: flex;
      width: 37%;
    }
  
    .login-container{
      position: absolute;
      width: 495px;
      height: 588px;
      left: 761px;
      top: 65px;
      box-shadow: 8px 9px 12px 2px rgba(73, 65, 65, 0.384);
      background: linear-gradient(142.38deg, rgba(255, 255, 255, 0.4) 3.13%, rgba(255, 255, 255, 0.1) 97.25%);
      backdrop-filter: blur(40px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 40px;
      }  
  
  .loginStyles {
    padding-left: 52px;

  
  }
    
  .inputFields{
    padding-left: 20px;
    margin-top: 40px;

  }
  
  .buttonStyle{
    padding-top: 32px;
  }
  
  button{background: rgba(156, 218, 206, 0.69);
box-sizing: border-box;
border-radius: 40px;
width: 100px;
height: 38px;
left: 44px;
top: 669px;
justify-content: center;
margin-top: 30px;
  }
  
  .logintopic{
    color: black;
    font-family: 'Times new roman';
    text-align: center;
    font-style: normal;
    font-weight: 600px;
    font-size: 36px;
    letter-spacing: 0.05em;
  }

  .imgs{
    justify-content: center;
    padding-top: 20px;
    display: flex;
    
  }