.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.form {
  display: flex;
  gap: 15px;
  position: relative;
  top:87px
}
*
form * {
  font-size: 12px;
  height: 42px;
}

table1 {

position: absolute;
width: 973px;
height: 304px;
left: 0px;
top: 230px;
overflow: scroll;
}

th,
td {
  
  text-align: left;
  width: 252px;
  font-size: 12px;
}

th {
  background-color: #CBE5F5;
  font-family: 'Trebuchet MS';
  position:sticky;
}

td {
  font-family: 'Trebuchet MS';
  background-color: #FFFFFF;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}



.inputcss{
  border-radius: 0px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px; 
  width: 100px;
  height: 0px;  
}

button{
border:0;
background: #3FAB98;
text-align: center;
border:1px solod #3FAB98;
height: 25px;
color:black;
transition:0.25px;
font-family: 'Trebuchet MS';
}

h2{
background: #24685C;
border-radius: 20px;
position: absolute;
width: 304.32px;
height: 42px;
left: 303.68px;
top: 0px;
font-family: 'Trebuchet MS';
font-weight: 100;
font-size: 22px;
line-height: 39px;
color: #FFFFFF;
}

.table-wrapper{
overflow-y: scroll;
overflow-x: scroll;
height: fit-content;
max-height: 66.4vh;

margin-top: 22px;

margin: 15px;
padding-bottom: 20px;
}

